<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div>
        <h1 id="sign">Get In Here...!</h1>
        </div> 
    
    <div class="max">
       
        <form action="login">
            
         
           <!-- <label for="">Username</label> -->
           <input type="text" name="" id="" placeholder="Username or email id">
           <br>
           <br>
           <!-- <label for="">Password</label> -->
           <input type="text" name="" id="" placeholder="Password">
           <br>
           <br>
           <!-- <a href="http://127.0.0.1:5501/html/homepage.html"><button type="submit">login</button></a> -->
           

           <button  id="rio" type="submit">Login</button>
          
           <button id="rio" type="reset">Cancel</button>
           <br><br>
          
           <a id="lio" href="./signup">wann join???</a>
           
           
           <a  id="lio" href="./forgotp">password???</a>
           
          
        </form>
       </div>
</body>
</html>